{% extends 'basespaced.html' %}

{% load i18n %}
{% block corpo %}

<div class="container">

	<table>

	<td>	
	<h2>
	<p><a href="https://www.google.com.br/search?q=brad+pitt+images&client=ubuntu&hs=yI3&channel=fs&source=lnms&tbm=isch&sa=X&ved=0CAcQ_AUoAWoVChMI1JqX76mSxwIViBGQCh0FBQqZ&biw=1920&bih=945">Carlos A. Parisotto</a><br><br>
	<p>Redes de Computadores - <a href="http://www.ftec.com.br/">FTEC</a><br><br>
	<p><a href="https://www.lpi.org/certification/get-certified-lpi/lpic-2-linux-network-professional/">LPIC-2</a> Certification<br><br>
	<p>Analista de Suporte - <a href="http://www.mbsec.com.br"> MBSEC Segurança da Informação</a><br><br>
	<p><a href="https://github.com/caparisotto/tchelinuxcx2015">https://github.com/caparisotto/tchelinuxcx2015</a><br><br>
	</h2>
	</td>

	<td>
	<img src=/{{ MEDIA_URL }}media/imagens/tchelinux.png height="375" width="375">    
	</td>
	
	</table>
</div>


{% endblock %}

