{% extends 'basespaced.html' %}

{% load i18n %}
{% block corpo %}

<div class="container">

	<table>

	<td>
	<img src=/{{ MEDIA_URL }}media/imagens/tchelinux.png height="500" width="500">    
	</td>
	
	<td>	
	<h1>
	<p><a href="https://www.google.com.br/search?q=brad+pitt+images&client=ubuntu&hs=yI3&channel=fs&source=lnms&tbm=isch&sa=X&ved=0CAcQ_AUoAWoVChMI1JqX76mSxwIViBGQCh0FBQqZ&biw=1920&bih=945">Carlos A. Parisotto</a><br><br>
	<p>Formado em Redes de Computadores pela <a href="http://www.ftec.com.br/">FTEC</a><br><br>
	<p>Certificado<a href="https://www.lpi.org/certification/get-certified-lpi/lpic-2-linux-network-professional/"> LPIC-2</a><br><br>
	<p>Analista de Suporte na<a href="http://www.mbsec.com.br"> MBSEC Segurança da Informação</a><br><br>
	<p><a href="http://caxias.tchelinux.org">Tchelinux Caxias do Sul 2015</a>
	</h1>
	</td>

	</table>
</div>


{% endblock %}

