	<p>SLIDE 2</p>
	<p>http://thesysadminblog.com/12-good-reasons-to-be-a-lazy-system-administrator/</p>
	<p>SLIDE 3</p>
	<p>http://xkcd.com/974/</p>
	<p>http://pt.slideshare.net/TomLimoncelli/tom-limoncellis-top-5-time-management-tips</p>
	<p>https://www.rescuetime.com/</p>
	<p>http://pt.slideshare.net/davirocha/gestao-do-tempoeprodutividade</p>
	<p>SLIDE 4</p>
	<p>http://www.moderncourse.com/use-zabbix-comparison-zabbix-nagios-zenoss-cacti-cricket/</p>
	<p>http://nagios-br.com/configurando-o-nagios-pela-primeira-vez-para-iniciantes</p>
	<p>http://hernandesmartins.blogspot.com.br/2015/03/zabbix-2-4-centos-7-tutorial-portugues.html</p>
	<p>http://www.opennms.org/wiki/Tutorial_Installation</p>
	<p>https://blog.serverdensity.com/80-linux-monitoring-tools-know/</p>
	<p>SLIDE 6</p>
	<p>http://www.vivaolinux.com.br/dica/Comandos-de-compactacaodescompactacao</p>
	<p>http://sejalivre.org/aprendendo-a-usar-o-comando-find/</p>
	<p>http://www.cyberciti.biz/networking/nmap-command-examples-tutorials/</p>
	<p>http://www.tutorialspoint.com/unix_commands/mtr.htm</p>
	<p>http://rberaldo.com.br/o-comando-sed-do-linux/</p>
	<p>http://www.cyberciti.biz/faq/howto-use-grep-command-in-linux-unix/</p>
	<p>http://www.grymoire.com/Unix/Awk.html</p>
	<p>https://www.digitalocean.com/community/tutorials/how-to-use-netcat-to-establish-and-test-tcp-and-udp-connections-on-a-vps</p>
	<p>http://www.commandlinefu.com/commands/browse</p>
	<p>http://www.thegeekstuff.com/2010/11/50-linux-commands/</p>
	<p>http://linuxconfig.org/bash-scripting-tutorial</p>
	<p>http://www.linuxdescomplicado.com.br/2013/11/20-comandos-linux-que-voce-talvez-nao.html</p>
	<p>http://ss64.com/bash/</p>
	<p>SLIDE 7</p>
	<p>http://www.tccamargo.com/linux/tutoriais/iptables.html</p>
	<p>http://wiki.bacula.org/doku.php?id=comparisons</p>
	<p>http://eriberto.pro.br/files/guia_tcpdump.pdf</p>
	<p>https://github.com/caparisotto/chkservices</p>
	<p>SLIDE 8</p>
	<p>https://www.digitalocean.com/community/tutorials/how-to-manage-etc-with-version-control-using-etckeeper-on-centos-7</p>
	<p>http://jensd.be/248/linux/use-inotify-tools-on-centos-7-or-rhel-7-to-watch-files-and-directories-for-events</p>
	<p>https://github.com/caparisotto/filectl</p>
	<p>http://dumpscerebrais.com.br/2015/03/docker-do-basico-a-orquestracao-e-clusterizacao-introducao.html</p>
	<p>http://sejalivre.org/conheca-o-dnf-o-novo-gerenciador-de-pacotes-fedora/</p>
	<p>http://pt.slideshare.net/LeandroNunes85/automatizando-tarefas-shell-ao-mximo-com-expect</p>
	<p>https://www.cs.oberlin.edu/~kuperman/help/vim/home.html</p>
	<p>SLIDE 9</p>
	<p>https://osantana.me/curso-de-python-e-django/#</p>
	<p>http://www.w3schools.com/</p>
	<p>SLIDE 10</p>
	<p>https://www.digitalocean.com/community/tutorials/how-to-install-mediawiki-on-centos-7</p>
	<p>https://community.openproject.org/topics/1308</p>
	<p>http://rpm.pbone.net/index.php3/stat/4/idpl/25010653/dir/centos_6com/planner-0.14.4-10.el6.x86_64.rpm.html</p>
	<p>http://www.gantter.com/</p>
	<p>SLIDE 11</p>
	<p>http://olhardigital.uol.com.br/home</p>
	<p>http://www.techtudo.com.br/</p>
	<p>http://www.itnews.com/</p>
	<p>http://www.diolinux.com.br/</p>
	<p>SLIDE 12</p>
	<p>http://stackexchange.com/</p>
	<p>https://www.digitalocean.com/community/tutorials</p>
	<p>http://www.if-not-true-then-false.com/</p>
	<p>https://technet.microsoft.com/pt-br/</p>
	<p>http://www.vivaolinux.com.br/</p>
	<p>http://www.thegeekstuff.com/</p>
	<p>GITHUB</p>
	<p>https://github.com/caparisotto/tchelinuxcx2015</p>
	<p>OUTROS</p>
	<p>http://nerdspace.com.br/7-caracteristicas-de-um-sysadmin-linux-de-sucesso/</p>
	<p>http://www.tecmint.com/51-useful-lesser-known-commands-for-linux-users/</p>
	<p>http://beebom.com/2015/04/best-linux-apps</p>
	<p>http://www.internap.com/2013/04/10/5-best-practices-for-successful-system-administration/</p>
	<p>http://www.infoworld.com/news</p>


