{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<p><h1><a href="http://thesysadminblog.com/12-good-reasons-to-be-a-lazy-system-administrator/">12 Motivos para ser um sysadmin folgado:</a>

	<table>

	<tr>
	<td><h1>Sempre redundante</td>
	<td><h1>Pensa na escalabilidade</td>
	</tr>
	<tr>
	<td><h1>Faz backup de tudo</td>
	<td><h1>Possui um plano de recuperação</td>
	</tr>
	<tr>
	<td><h1>Trata a máquina como um chefe</td>
	<td><h1>"Manja" dos atalhos de teclado</td>
	</tr>
	<tr>
	<td><h1>Escreve script para tarefas recorrentes</td>
	<td><h1>É proativo</td>
	</tr>
	<tr>
	<td><h1>Documenta</td>
	<td><h1>Aprende novas tecnologias</td>
	</tr>
	<tr>
	<td><h1>É mestre na linha de comando</td>
	<td><h1>Aprende com os seus erros</td>
	</tr>

	</table>
</div>

{% endblock %}

