{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<table>

	<tr>
	<td><h1></td>
	</tr>
	<tr>
	<td><h1>Sem monitoramento não há paz</td>
	</tr>
	<tr>
	<td><h1></td>
	</tr>
	<tr>
	<td><h1><a href="http://nagios-br.com/configurando-o-nagios-pela-primeira-vez-para-iniciantes">Nagios</a>, Cacti, <a href="http://hernandesmartins.blogspot.com.br/2015/03/zabbix-2-4-centos-7-tutorial-portugues.html">Zabbix</a>, Cricket, <a href="http://www.opennms.org/wiki/Tutorial_Installation">OpenNMS</a>, Zenoss, Monit...</td>
	</tr>
	<tr>
	<td><h1></td>
	</tr>
	<tr>
	<td><h1>Diversas opções. <a href="http://www.moderncourse.com/use-zabbix-comparison-zabbix-nagios-zenoss-cacti-cricket/">Compare.</a></td>
	</tr>	
	<tr>
	<td><h1></td>
	</tr>	
	<tr>
	<td><h1><a href="https://blog.serverdensity.com/80-linux-monitoring-tools-know/">#</a> A linha de comando também pode te ajudar </td>
	</tr>

	</table>
</div>

{% endblock %}

