{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">
	
	<h2><a href="http://stackexchange.com/">Stack Exchange</a> 
	<h2><a href="https://www.digitalocean.com/community/tutorials">Digital Ocean</a>
	<h2><a href="http://www.w3schools.com/">W3Schools</a>
	<h2><a href="http://www.if-not-true-then-false.com/">If Not True Then False</a>
	<h2><a href="https://technet.microsoft.com/pt-br/">Microsoft (isso mesmo) Technet</a>
	<h2><a href="http://www.vivaolinux.com.br/">Viva o Linux</a>
	<h2><a href="http://www.thegeekstuff.com/">The Geek Stuff</a> (sugestão: <a href="http://www.thegeekstuff.com/2010/12/50-unix-linux-sysadmin-tutorials/">50 Tutoriais Sysadmin</a>)

</div>

{% endblock %}

