{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<h3><br><li> Use o canivete suíço do shell: </li>

	<h3><a href="http://www.vivaolinux.com.br/dica/Comandos-de-compactacaodescompactacao">tar</a> &nbsp - &nbsp 
	<a href="http://sejalivre.org/aprendendo-a-usar-o-comando-find/">find</a> &nbsp - &nbsp
	<a href="http://www.cyberciti.biz/networking/nmap-command-examples-tutorials/">nmap</a> &nbsp - &nbsp
	<a href="http://www.tutorialspoint.com/unix_commands/mtr.htm">mtr</a>

	<h3><a href="http://rberaldo.com.br/o-comando-sed-do-linux/">sed</a> &nbsp - &nbsp
	<a href="http://www.cyberciti.biz/faq/howto-use-grep-command-in-linux-unix/">grep</a> &nbsp - &nbsp
	<a href="http://www.grymoire.com/Unix/Awk.html">awk</a> &nbsp - &nbsp
	<a href="https://www.digitalocean.com/community/tutorials/how-to-use-netcat-to-establish-and-test-tcp-and-udp-connections-on-a-vps">nc</a>

	<h3><br><li> <h3>Algumas cortesias do <a href="http://www.commandlinefu.com/commands/browse">commandline.fu</a>: </li>

	<table>
	<tr>
	<td><h3><a href="http://www.thegeekstuff.com/2010/11/50-linux-commands/">#</a>sudo !! &nbsp &nbsp</td>
	<td><h3>&nbsp &nbsp <a href="http://linuxconfig.org/bash-scripting-tutorial">#</a>SPACE+comando nao salva no historico</td>
	</tr>
	<tr>
	<td><h3><a href="http://www.linuxdescomplicado.com.br/2013/11/20-comandos-linux-que-voce-talvez-nao.html">#</a>ctrl-R  &nbsp &nbsp</td>
	<td><h3>&nbsp &nbsp <a href="http://ss64.com/bash/">#</a>cp /etc/hosts{,.bkp}</td>
	</tr>

	</table>

</div>

{% endblock %}

