{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">


	<h3><br>- Sem monitoramento não há paz.

	<h3><br>- <a href="http://nagios-br.com/configurando-o-nagios-pela-primeira-vez-para-iniciantes">Nagios</a>, Cacti, <a href="http://hernandesmartins.blogspot.com.br/2015/03/zabbix-2-4-centos-7-tutorial-portugues.html">Zabbix</a>, Cricket, <a href="http://www.opennms.org/wiki/Tutorial_Installation">OpenNMS</a>, Zenoss, Monit...

	<h3><br>- Diversas opções. <a href="http://www.moderncourse.com/use-zabbix-comparison-zabbix-nagios-zenoss-cacti-cricket/">Compare.</a>

	<h3><br>- <a href="https://blog.serverdensity.com/80-linux-monitoring-tools-know/">#</a> A linha de comando também pode te ajudar.

</div>

{% endblock %}

