{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<table>

	<tr>
	<td><h1>Algumas cortesias do <a href="http://www.commandlinefu.com/commands/browse">commandline.fu</a></td>
	</tr>
	<tr>
	<td><h1>mojo get http://www.globo.com/ 'a[href]' attr href</td>
	</tr>
	<tr>
	<td><h1>(slide 7 e meio)</a></td>
	</tr>
	<tr>
	<td><h1>history | awk '{a[$2]++}END{for(i in a){print a[i] " " i}}' | sort -rn | head</a></td>
	</tr>
	<tr>
	<td></td>
	</tr>
	<tr>
	<td></td>
	</tr>
	<tr>
	<td><a href="http://pt.slideshare.net/LeandroNunes85/automatizando-tarefas-shell-ao-mximo-com-expect">Expect</a> pode resolver seus problemas.</td>
	</tr>
	<tr>
	<td><h1>Ah, é imprescindível saber usar o <a href="https://www.cs.oberlin.edu/~kuperman/help/vim/home.html">vim</a></td>
	</tr>

	</table>
</div>

{% endblock %}

