{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<h3>99% dos Sysadmin não gostam de documentar...
	<h3>...mas você prefere estar entre os 1%, né?  
	<h2><a href="https://www.digitalocean.com/community/tutorials/how-to-install-mediawiki-on-centos-7">Tenha sua própria Wiki</a> 

	<br><br>

	<h3>Gerencia de projetos não se usa só na faculdade.
	<h3>Algumas ferramentas interessantes:
	<h2><a href="https://community.openproject.org/topics/1308">OpenProject</a> - <a href="http://rpm.pbone.net/index.php3/stat/4/idpl/25010653/dir/centos_6com/planner-0.14.4-10.el6.x86_64.rpm.html">Planner</a> - <a href="http://www.gantter.com/">Gantter</a>

</div>

{% endblock %}

