{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<p><h2><a href="http://thesysadminblog.com/12-good-reasons-to-be-a-lazy-system-administrator/">Características de um sysadmin folgado:</a>

    	<br><br>
	<table>

        <tr>
        <td><h3><li>Aprende com os seus erros</li></td>
        <td><h3><li>Faz backup com eficiência</li></td>
        </tr>
        <tr>
        <td><h3><li>Possui um plano de recuperação</li></td>
        <td><h3><li>Utiliza os atalhos de teclado</li></td>
        </tr>
        <tr>
        <td><h3><li>Automatiza tarefas recorrentes   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </li></td>      
        <td><h3><li>É proativo</li></td>
        </tr>
        <tr>
        <td><h3><li>Documenta</li></td>
        <td><h3><li>Explora novas tecnologias</li></td>
        </tr>

        </table>

</div>

{% endblock %}

