{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">


	<table>

	<tr>
	</tr>

	<tr>
	<td><img src=/{{ MEDIA_URL }}media/imagens/rescuetime.png height="240" width="460">  
	<td><h3> <a href="http://pt.slideshare.net/TomLimoncelli/tom-limoncellis-top-5-time-management-tips">Siga as dicas do Tom :)</a></td>
	</tr>

	<tr>
	<td><h3><a href="https://www.rescuetime.com/">Meça seu tempo, parça</a></td>
	<td><h3>Planejar seu tempo não é ficar escravo dele, mas sim adquirir controle sobre ele.</td>
	</tr>

	<tr>
	<td><h3>Evite interrupções e anote as coisas.</td>
	<td><h3><a href="http://pt.slideshare.net/davirocha/gestao-do-tempoeprodutividade">Tenha uma estratégia.</a></td>
	</tr>

	</table>
	
</div>

{% endblock %}

