{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<table>

	<tr>
	<td><h1>Um dia você vai precisar entender programação. Esteja preparado.</td>
	</tr>
	<tr>
	<td><img src=/{{ MEDIA_URL }}media/imagens/python_rules.png ></td>
	</tr>
	<tr>
	<td><h1>Sites interessantes para iniciar: <a href="https://osantana.me/curso-de-python-e-django/#">osantana.me</a> e <a href="http://www.w3schools.com/">w3schools</a></td>
	</tr>
	<tr>
	<td><h1>Um pouco de PHP não faz mal pra ninguém :)</td>
	</tr>


	</table>
</div>

{% endblock %}

