{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

        <table>

        <td>
        <h3>

        <p><li>Mantenha suas informações seguras com <a href="http://www.tccamargo.com/linux/tutoriais/iptables.html">Iptables</a><br><br></li>

        <p><li><a href="http://wiki.bacula.org/doku.php?id=comparisons">Bacula</a> é a melhor ferramenta de backups existente.<br><br></li>

        <p><li>Resolução rápida de problemas?
        <a href="http://eriberto.pro.br/files/guia_tcpdump.pdf">Tcpdump</a><br><br></li>

        <p><li><a href="https://github.com/hflautert/chkservices">Chkservices</a> para manter a disponibilidade dos seus serviços.<br><br></li>


        </h3>
        </td>

        <td>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <img src=/{{ MEDIA_URL }}media/imagens/firewall.jpg height="350" width="400">
        </td>

        </table>







</div>

{% endblock %}

