{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<h3>Algumas cortesias do <a href="http://www.commandlinefu.com/commands/browse">commandline.fu</a>:
	<h3>&nbsp &nbsp &nbsp &nbsp mojo get http://www.globo.com/ 'a[href]' attr href
	<h3>&nbsp &nbsp &nbsp &nbsp (slide 7 e meio)</a>
	<h3>&nbsp &nbsp &nbsp &nbsp history | awk '{a[$2]++}END{for(i in a){print a[i] " " i}}' | sort -rn | head</a>

	<br><br>
	<h3><a href="http://pt.slideshare.net/LeandroNunes85/automatizando-tarefas-shell-ao-mximo-com-expect">Expect</a> pode resolver seus problemas.

	<br><br>
	<h3>Ah, é imprescindível saber usar o <a href="https://www.cs.oberlin.edu/~kuperman/help/vim/home.html">vim</a>

</div>

{% endblock %}

