{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<table>

	<tr>
	<td><h1>- Saiba usar o canivete suiço do shell: <a href="http://www.vivaolinux.com.br/dica/Comandos-de-compactacaodescompactacao">tar</a> , <a href="http://sejalivre.org/aprendendo-a-usar-o-comando-find/">find</a> , <a href="http://www.cyberciti.biz/networking/nmap-command-examples-tutorials/">nmap</a> , <a href="http://www.tutorialspoint.com/unix_commands/mtr.htm">mtr</a> , <a href="https://www.digitalocean.com/community/tutorials/how-to-use-netcat-to-establish-and-test-tcp-and-udp-connections-on-a-vps">nc</a> e <a href="http://www.thegeekstuff.com/2010/11/50-linux-commands/">muito mais</a>.</td>
	</tr>
	<tr>
	<td><h1>- Não fique no básico: <a href="http://rberaldo.com.br/o-comando-sed-do-linux/">sed</a> , <a href="http://www.cyberciti.biz/faq/howto-use-grep-command-in-linux-unix/">grep</a> , <a href="http://www.grymoire.com/Unix/Awk.html">awk</a>. </td>
	</tr>

	</table>

<table>
	<tr>
	<td><h1>- Alguns exemplos:</td>
	</tr>
	<tr>
	<td><h3>sudo !!      </td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td><h3>ctrl-R     </td>
	</tr>
	<tr>
	<td><h3> SPACE+comando nao salva no historico</a></td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td> </td>
	<td><h3>cp /etc/hosts{,.bkp}      </td>
	</tr>

</table>

</div>

{% endblock %}

