{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<table>

	<tr>
	<td><h3>Mantenha suas informações seguras...</td>
	<td><h2>&nbsp &nbsp <a href="http://www.tccamargo.com/linux/tutoriais/iptables.html">Iptables</a></td>
	</tr>

	<tr>
	<td><h3>seus backups em dia...</td>
	<td><h2>&nbsp &nbsp <a href="http://wiki.bacula.org/doku.php?id=comparisons">Bacula</a></td>
	</tr>

	<tr>
	<td><h3>e seus serviços funcionando.</td>
	<td><h2>&nbsp &nbsp <a href="https://github.com/hflautert/chkservices">Chkservices</a></td>
	</tr>

	</table>
</div>

{% endblock %}

