{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<h3><a href="http://nerdspace.com.br/7-caracteristicas-de-um-sysadmin-linux-de-sucesso/">Dicas Finais:</a><br>

	<table>

	<tr>
	<td><h3>Seja curioso</td>
	<td><h3>&nbsp &nbsp Seja persistente</td>
	<td><h3>&nbsp &nbsp Tenha iniciativa</td>
	</tr>

	<tr>
	<td><h3>Faça parte da solução</td>
	<td><h3>&nbsp &nbsp Esteja em constante aprendizado</td>
	</tr>

	<tr>
	<td><h3>Treine</td>
	<td><h3>&nbsp &nbsp Tenha paixão pelo que você faz</td>
	</tr>

	</table>


	<br><br>
	<h3>Ninguém é tão burro que não possa ensinar nada...
	<h3>nem tão inteligente que não possa aprender.

</div>

{% endblock %}

