{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<h3>- Saiba usar o canivete suiço do shell:

	<h3><a href="http://www.vivaolinux.com.br/dica/Comandos-de-compactacaodescompactacao">tar</a>
	<h3><a href="http://sejalivre.org/aprendendo-a-usar-o-comando-find/">find</a>
	<h3><a href="http://www.cyberciti.biz/networking/nmap-command-examples-tutorials/">nmap</a>
	<h3><a href="http://www.tutorialspoint.com/unix_commands/mtr.htm">mtr</a>
	<h3>e  <a href="http://www.thegeekstuff.com/2010/11/50-linux-commands/">muito mais</a>.

	<h3>- Não fique no básico:

	<h3><a href="http://rberaldo.com.br/o-comando-sed-do-linux/">sed</a>
	<h3><a href="http://www.cyberciti.biz/faq/howto-use-grep-command-in-linux-unix/">grep</a>
	<h3><a href="http://www.grymoire.com/Unix/Awk.html">awk</a>
	<h3><a href="https://www.digitalocean.com/community/tutorials/how-to-use-netcat-to-establish-and-test-tcp-and-udp-connections-on-a-vps">nc</a>

	<h3>- Alguns exemplos:

	<h3>sudo !!
	<h3>ctrl-R 
	<h3>SPACE+comando nao salva no historico
	<h3>cp /etc/hosts{,.bkp} 

</div>

{% endblock %}

