{% extends 'base.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">
	<pre style="border:none">
	<h1>
	<p><a href="https://www.google.com.br/search?q=brad+pitt+images&client=ubuntu&hs=yI3&channel=fs&source=lnms&tbm=isch&sa=X&ved=0CAcQ_AUoAWoVChMI1JqX76mSxwIViBGQCh0FBQqZ&biw=1920&bih=945">Carlos A. Parisotto</a>
	<p>Formado em Redes de Computadores pela <a href="http://www.ftec.com.br/">FTEC</a>
	<p>Certificado<a href="https://www.lpi.org/certification/get-certified-lpi/lpic-2-linux-network-professional/"> LPIC-2</a>
	<p>Analista de Suporte na<a href="http://www.mbsec.com.br"> MBSEC Segurança da Informação</a>
	<p><a href="http://caxias.tchelinux.org">Tchelinux Caxias do Sul 2015</a>
	</h1>
	</pre>
</div>


{% endblock %}

