{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<table>
	
	<tr>
	<td><h3><b>Olhar Digital</b>
	<a href="http://olhardigital.uol.com.br/home"><img src=/{{ MEDIA_URL }}media/imagens/olhardigital.png width="450" height="150"></a></td>
	
	<td>&nbsp &nbsp<h3><b>Tech Tudo</b>
	&nbsp &nbsp<a href="http://www.techtudo.com.br/"><img src=/{{ MEDIA_URL }}media/imagens/techtudo.png width="450" height="150"></a></td>
	</tr>

	<tr>
	<td><h3><b>IT News</b>&nbsp &nbsp &nbsp &nbsp
	<a href="http://www.itnews.com/"><img src=/{{ MEDIA_URL }}media/imagens/itnews.png width="450" height="150"></a></td>

	<td>&nbsp &nbsp<h3><b>DioLinux</b>
	&nbsp &nbsp<a href="http://www.diolinux.com.br/"><img src=/{{ MEDIA_URL }}media/imagens/diolinux.png width="450" height="150"></a></td>
	</tr>

	</table>

</div>

{% endblock %}

