{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<table>

        <td>
        <h3>

	<p><li>Um dia você vai precisar entender programação. Esteja preparado.<br><br></li>

	<p><li>Sites interessantes para iniciar: <a href="https://osantana.me/curso-de-python-e-django/#">osantana.me</a> e <a href="http://www.w3schools.com/">w3schools</a><br><br></li>

	<p><li>Um pouco de PHP não faz mal pra ninguém.<br></li>


        </h3>
        </td>

        <td>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <img src=/{{ MEDIA_URL }}media/imagens/python_rules.png width="400" height="280">
        </td>

        </table>

</div>

{% endblock %}

