{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<p><h1>Trabalhe com o que há de mais atual.
	<p><h1>Se não houver algo que atenda sua necessidade, faça você mesmo.

	<table>

	<tr>
	<td>
	</tr>
	<tr>
	<td>
	<p><h3>Make me a sandwich. - No!
	<p><h3>Sudo make me a sandwich. - avc:  denied  { write } for  pid=7038 comm="make"
	</td>
	</tr>
	<tr>
	<td><h2>Manter um histórico dos arquivos alterados?
	<h1> <a href="https://www.digitalocean.com/community/tutorials/how-to-manage-etc-with-version-control-using-etckeeper-on-centos-7">Etckeeper</a>   +   <a href="http://jensd.be/248/linux/use-inotify-tools-on-centos-7-or-rhel-7-to-watch-files-and-directories-for-events">Inotify-tools</a>  =   <a href="https://github.com/caparisotto/filectl">FileCtl</a></td>
	</tr>
	<tr>
	<td><h2>Alta disponibilidade nos serviços? 
	<h1><a href="https://github.com/hflautert/chkservices">ChkServices</a></td>
	</tr>
	<tr>
	<td><h1><a href="http://dumpscerebrais.com.br/2015/03/docker-do-basico-a-orquestracao-e-clusterizacao-introducao.html">Containers</a> is the new black
	</tr>
	<tr>
	<td><h1>Kernel 4 ta ai...<a href="http://sejalivre.org/conheca-o-dnf-o-novo-gerenciador-de-pacotes-fedora/">DNF tambem</a>
	</tr>

	</table>
</div>

{% endblock %}

