{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">


	<table>

	<tr>
	</tr>

	<tr>
	<td><a href="/slide3_2/"><img src=/{{ MEDIA_URL }}media/imagens/xkcd974.png height="240" width="600"></a>  
	<p>  <a href="http://xkcd.com/974/">XKCD974</a> </td>
	<td><h3> <a href="http://pt.slideshare.net/TomLimoncelli/tom-limoncellis-top-5-time-management-tips">Siga as dicas do Tom :)</a></td>
	</tr>

	<tr>
	<td><h3><a href="https://www.rescuetime.com/">"Meça seu tempo, parça"</a><em> Mc Brinquedo</em></td>
	<td><h3>Planejar seu tempo não é ficar escravo dele, mas sim adquirir controle sobre ele.</td>
	</tr>

	<tr>
	<td><h3>Crie um escudo contra interrupções.</td>
	<td><h3><a href="http://pt.slideshare.net/davirocha/gestao-do-tempoeprodutividade">Tenha uma estratégia.</a> Ex.: Técnica Pomodoro</td>
	</tr>

	</table>
	
</div>

{% endblock %}

