{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

<!--	<p> Hidden marketing over here -> <a href="http://inenglish.com.br/">.</a>  -->
	<table>

	<tr>
	<td>  <img src=/{{ MEDIA_URL }}media/imagens/bbad_why.png height="100" width="190"> </td>
	<td>  <img src=/{{ MEDIA_URL }}media/imagens/bbad_how.png height="100" width="190"> </td>
	</tr>
	<tr>
	<td><h1>90% of the IT tutorials and blogs are written in English.</td>
	<td><h1>English Schools - Practicing is always the best option.</td>
	</tr>
	<tr>
	<td><h1>It's the "default" IT language.</td>
	<td><h1>Music, books, movies, series, etc.</td>
	</tr>
	<tr>
	<td><h1>It's no longer an extra, it is a requisite.</td>
	</tr>
	<tr>
	<td><h1>You can watch "Annie Hall" instead of "Noivo Neurótico, Noiva Nervosa"</td>
	</tr>

	</table>

</div>

{% endblock %}

