{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">


	<table>

	<tr>
	<td><h1>Mantenha suas informações seguras...</td>
	<td><h1>  </td>
	<td><h1><a href="http://www.tccamargo.com/linux/tutoriais/iptables.html">Iptables</a></td>
	</tr>
	<tr>
	<td><h1>seus backups em dia...</td>
	<td><h1>  </td>
	<td><h1><a href="http://wiki.bacula.org/doku.php?id=comparisons">Bacula</a></td>
	</tr>
	<tr>
	<td><h1>e seus serviços funcionando.</td>
	<td><h1>  </td>
	<td><h1><a href="https://github.com/hflautert/chkservices">Chkservices</a></td>
	<td><h1></td>
	</tr>

	</table>
</div>

{% endblock %}

