{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">


	<h3><br><li> Sem monitoramento não há paz.</li>

	<h3><br><li> Diversas opções, <a href="http://www.moderncourse.com/use-zabbix-comparison-zabbix-nagios-zenoss-cacti-cricket/">compare-as:</a></li>

	<h3><br>&nbsp &nbsp &nbsp &nbsp <a href="http://nagios-br.com/configurando-o-nagios-pela-primeira-vez-para-iniciantes">Nagios</a>, Cacti, <a href="http://hernandesmartins.blogspot.com.br/2015/03/zabbix-2-4-centos-7-tutorial-portugues.html">Zabbix</a>, Cricket, <a href="http://www.opennms.org/wiki/Tutorial_Installation">OpenNMS</a>, Zenoss, Monit...

	<h3><br><li> <a href="https://blog.serverdensity.com/80-linux-monitoring-tools-know/">[root@localhost ~]#</a> A linha de comando também pode te ajudar.</li>

</div>

{% endblock %}

