{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">


	<td><h3>Um dia você vai precisar entender programação. Esteja preparado.</td><br>
	<td><img src=/{{ MEDIA_URL }}media/imagens/python_rules.png width="400" height="250"></td>
	<td><h3>Sites interessantes para iniciar: <a href="https://osantana.me/curso-de-python-e-django/#">osantana.me</a> e <a href="http://www.w3schools.com/">w3schools</a></td>
	<td><h3>Um pouco de PHP não faz mal pra ninguém :)</td>


</div>

{% endblock %}

