{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">


        <table>

        <td>
         <img src=/{{ MEDIA_URL }}media/imagens/selinux.jpg height="350" width="350">
        </td>

        <td>
        <h3>

        <p><li>Manter um histórico dos arquivos alterados? 
        <br>&nbsp &nbsp<a href="https://www.digitalocean.com/community/tutorials/how-to-manage-etc-with-version-control-using-etckeeper-on-centos-7">Etckeeper</a>   +   <a href="http://jensd.be/248/linux/use-inotify-tools-on-centos-7-or-rhel-7-to-watch-files-and-directories-for-events">Inotify-tools</a>  =   <a href="https://github.com/caparisotto/filectl">FileCtl</a><br><br></li>


        <p><li><a href="http://dumpscerebrais.com.br/2015/03/docker-do-basico-a-orquestracao-e-clusterizacao-introducao.html">Containers</a> is the new black.<br><br></li>

        <p><li>Kernel 4 ta ai...<a href="http://sejalivre.org/conheca-o-dnf-o-novo-gerenciador-de-pacotes-fedora/">DNF também</a>.<br><br></li>
	
	<p><li>O <a href="http://pt.slideshare.net/LeandroNunes85/automatizando-tarefas-shell-ao-mximo-com-expect">Expect</a> pode ser a solução para seus problemas. <br><br></li>

	<p><li>Ah, é imprescindível saber usar o <a href="https://www.cs.oberlin.edu/~kuperman/help/vim/home.html">vim</a>.<br><br></li>

        </h3>
        </td>

        </table>

	
</div>

{% endblock %}

