{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<p style="text-align:center">	<img src="/{{ MEDIA_URL }}media/imagens/thankyou.jpg" style="align:center" ></p>
	<br><br>
<h2>	<p style="text-align:right">	<a href="https://github.com/caparisotto/tchelinuxcx2015">https://github.com/caparisotto/tchelinuxcx2015</a></p></h2>
<h2>	<p style="text-align:right">	<a href="mailto:carlos.parisotto@mbsec.com.br">carlos.parisotto@mbsec.com.br</a></p></h2>
	
</div>

{% endblock %}

