{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<h1>Sugestões de perguntas</h1>

	<table>

	<tr>
	<td><h3>Por qual desses tópicos eu começar?</td>
	<td><h3>Qual o perfil ideal de um sysadmin?</td>
	</tr>

	<tr>
	<td><h3>7x1 foi pouco? </td>
	<td><h3>Quais dicas você daria a um programador?</td>
	</tr>

	<tr>
	<td><h3>Goku ou Superman?</td>
	<td><h3>Charmander, Bulbasaur ou Squirtle?</td>
	</tr>

	<tr>
	<td><h3>Já é seu 6° ano. Não está na hora de dar uma palestra boa?</td>
	<td><h3>Você realmente é um bom sysadmin ou só disfarça?</td>
	</tr>

	</table>
	
</div>

{% endblock %}

