{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<table>
	<tr>
	<td><p><h1>Sugestões de perguntas</p></td>
	</tr>
	<tr>
	<td><h2>Quero ser um bom sysadmin. Por qual desses tópicos eu começo?</td>
	<td><h2>Sou programador. Quais desses tópicos pode ser útil para mim?</td>
	</tr>
	<tr>
	<td><h2>Você realmente é um bom sysadmin ou só disfarça?</td>
	<td><h2>7x1 foi pouco? </td>
	</tr>
	<tr>
	<td><h2>Qual o perfil ideal de um sysadmin?</td>
	<td><h2>Charmander, Bulbasaur ou Squirtle?</td>
	</tr>
	<tr>
	<td><h2>Toda vez que eu chego em casa a barata da vizinha ta na minha cama. Diz aí o que 'cê' vai fazer.</td>
	<td><h2></td>
	</tr>

	</table>
	
</div>

{% endblock %}

